// Components

.icon {
  display: inline-block;
  height: 1em;
  overflow: visible;
  width: auto;
}

.icon-fw {
  text-align: center;
  width: 1.25em;
}

.pswp__caption__center {
  text-align: center;
}
