// Content

.site-content {
  padding-top: $spacer * 2;
  padding-bottom: $spacer * 2;
}

.entry-title {
  word-wrap: break-word;
}

.entry-content img,
.attachment-post-thumbnail {
  max-width: 100%;
  height: auto;
}

.entry-footer {
  clear: both;
}

.blog .post {
  margin-bottom: $spacer;
}
