/* Screen Options > Screen element > "Some screen elements can be shown or hidden by using the checkboxes..." */
#screen-meta .metabox-prefs > p {
  display: none;
}

/* Appearance > Widgets/Menus > Manage with Live Preview */
.page-title-action.hide-if-no-customize {
  display: none;
}

/* Post > Excerpt > "Excerpts are optional hand-crafted summaries..." */
#postexcerpt #excerpt + p {
  display: none;
}

/* Order column */
.fixed .column-menu_order {
  width: 10%;
}
